@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --purple-white: #FFF4FE;
  --brighter-purple: #EFDDF8;
  --light-blue: #ECE8FD;
  --action-purple: #8663F8;
  --purple-grey: #5E5E66;
  --purple-black: #191824;

  --text-body: {
    
  }
}

:root {
  --color-background: var(--brighter-purple);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: var(--purple-black);
}

body {
  min-height: 100vh;
  background: var(--color-background);
  z-index: -10;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#dark-background {
  position: fixed;
  z-index: -1;
  background-color: var(--purple-grey);
  border-radius: 6.6rem 6.6rem 0 0;
  width: 100%;
  max-width: 800px;
  height: 70vh;
  bottom: 0;
}
